name: Deploy boldi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DB_HOST }}
          username: ${{ secrets.DB_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "Creating project folder if it doesn't exist"
            mkdir -p /home/ubuntu/Shifo_Yoli_Backend
            cd /home/ubuntu/Shifo_Yoli_Backend

            if [ ! -d .git ]; then
              echo "Cloning repository"
              git clone https://github.com/Asqaraliyev-Faxriddin/Shifo_Yoli_Backend .
            else
              echo "Pulling latest changes"
              git pull origin main
            fi

            echo "Installing dependencies"
            npm install

            echo "Generating Prisma client"
            npx prisma generate

            echo "Running migrations"
            npx prisma migrate deploy

            echo "Stopping running containers"
            docker compose down

            echo "Building containers"
            docker compose build

            echo "Starting containers"
            docker compose up -d
